Breve resumo de listas adicionado √† aula.
Professor fala sobre o argumento end de uma lista:


```
lista = [0,1,2,3,4,5]
for i in lista:
print(lista[i], end =" ")
```
Com esse c√≥digo, depois do print sempre ser√° adicionado ao string o valor que estiver contido em " ";

In [ ]:
lista = [0,1,2,3,4,5]
for i in lista:
  print(lista[i], end ="\n")
print("\n")
for i in lista:
  print(lista[i], end = " ")
print("\n")
for i in lista:
  if i < len(lista)-1:
    print(lista[i], end = " + ")
  else:
    print(lista[i])

0
1
2
3
4
5


0 1 2 3 4 5

0 + 1 + 2 + 3 + 4 + 5

Professor tamb√©m faz uma fala sobre a sintaxe de um Slicing de listas.


```
lista = [abacate, banana, carambola, papaya]
print(list[2:3])
```
Essa sintaxe pode ser entendida como slice[PRIMEIRO TERMO (participativo): ULTIMO TERMO (excludente): passo]

In [ ]:
lista = ["abacate", "banana", "carambola", "papaya"]
print(lista[2:3]) #
lista2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista2[0::2]) #Dessa forma, ao n√£o preencher o ultimo termo, o slicing vai ir at√© o ultimo ponto.

['carambola']
[0, 2, 4, 6, 8, 10]

Quando listas s√£o atribu√≠das √†s outras, n√£o s√£o duas listas distintas: s√£o ponteiros.


```
lista1 = []
lista2 = lista1
```
Nesse peda√ßo de c√≥digo, a lista2 recebe o ***endere√ßo*** dessa lista. Para que a lista seja de fato copiada, isso pode ser feito atrav√©s do slicing:



```
lista1 = [0, 1, 2, 3, 4, 5, 6]
lista2 = lista1[0: ]
```
Com esse c√≥digo, o slicing faz com que um trecho (dessa forma, convenientemente a lista inteira) seja copiado.

Outra forma de tratar uma c√≥pia √© usando a fun√ß√£o .copy das listas:


```
lista1 = []
lista2 = lista1.copy()
```

# Finalmente, √†s Tuplas:
Tuplas s√£o listas, mas com car√°ter imut√°vel.
Para chamar uma tupla, pode-se cri√°-la e atribuir a fun√ß√£o tupla:


```
tupla = tuple()
tupla2 = ()
#Funciona de forma igual.
```
Tuplas podem armazenar outras tuplas dentro de si.

```
tupla1(tupla2(1, "string", 1.5), tupla3(2, "string2", 2.5))
```

Para exemplificar, podemos, ent√£o, entender as tuplas como cole√ß√µes de valores imut√°veis. Sua vantagem √© garantir que aquele programa est√° tendo seus valores seguros de forma mais confi√°vel.

Tuplas podem, entretanto, ter algum valor da lista alterado:

Demonstra√ß√£o de um valor de lista interna de uma tupla sendo modificada:

In [ ]:
lista1 = [1, 2, 3, 4, 5]
lista2 = ["Sim", "N√£o"]
string = "Valor"
tupla = (lista1, lista2, string)
print(tupla[1][0])
tupla[1][0] = "N√£o"
print(tupla[1][0])

Sim
N√£o

## Exerc√≠cios

1. Defina duas tuplas: uma com nomes de comida (pelo menos 5 nomes) e outra com os pre√ßos das comidas - preservando a ordem. Mostre no *standard output* a rela√ß√£o de comida-pre√ßo.

2. Agora, ainda com as tuplas acima, pegue apenas o nome e o pre√ßo das tr√™s comidas no meio da tupla. (considere "meio da lista" como sendo, por exemplo: ('A', 'B', 'C', 'D', 'E') --> ('B', 'C', 'D').
3. Defina uma tupla com pelo menos cinco valores e mostre no *standar output* esta tupla invertida. (exemplo, (1, 2, 3, 4) --> (4, 3, 2, 1)

4. Dada a seguinte tupla: (('a', 23),('b', 37),('c', 11), ('d',29)). Ordene esta tupla de acordo com o segundo item.
5. Defina uma tupla com pelo menos dez itens e crie uma nova tupla com apenas os itens de √≠ndice PAR da tupla original.

In [ ]:
#1.
comidas = ("Um", "Dois," "Tr√™s", "Quatro", "Cinco", "Seis")
precos = (11, 12 ,13 ,14 ,15 ,16 ,17)
for a in zip(comidas, precos):
  print(a)

('Um', 11)
('Dois,Tr√™s', 12)
('Quatro', 13)
('Cinco', 14)
('Seis', 15)

In [ ]:
#2.
comidas = ("Um", "Dois", "Tr√™s", "Quatro", "Cinco", "Seis")
precos = (11, 12, 13, 14, 15, 16, 17)
c_meio = comidas[1:5]
p_meio = precos[1:5]
for a in zip(c_meio, p_meio):
  print(a)

('Dois', 12)
('Tr√™s', 13)
('Quatro', 14)
('Cinco', 15)

In [ ]:
#3.
tupla = (1,2,3,4,5)
tupla_rev = tupla[::-1]
print(tupla_rev)

(5, 4, 3, 2, 1)

In [ ]:
#4. RECEBER UMA TUPLA do tipo t((a,b), (a,b), (a,b)) e imprim√≠-la como t'((b, a), (b, a), (b, a))
tupla = (('a', 23),('b', 37),('c', 11), ('d',29))
tupla_ordenada = []
for tupla_original in tupla:
  tupla_ordenada.append((tupla_original[1], tupla_original[0]))
print(tupla_ordenada)
#No final n√£o era tupla! kkkk

[(23, 'a'), (37, 'b'), (11, 'c'), (29, 'd')]
<class 'list'>

In [ ]:
#5.
tupla = (1, 11, 2, 22, 3, 33, 4, 44, 5, 55)
tupla_pares = ()
for i in range(len(tupla)):
    if i % 2 == 0:
        tupla_pares += (tupla[i],)
print(tupla_pares)

(1, 2, 3, 4, 5)

#Desempacotamento de tuplas! üòú

Podemos armazenar os valores de itens de dentro de duplas de forma dinamica em vari√°veis:


```
a, b, c = ("N√£o", "Sim", "Talvez)
print(a)
print(b)
print(c)
```

In [ ]:
a, b, c = ("N√£o", "Sim", "Talvez")
print(a)
print(b)
print(c)

N√£o
Sim
Talvez

##Controlando a quantidade de vari√°veis recebidas pelo *unpacking*
Se ultilizar o operador * antes da vari√°vel, significa que ela receber√° multiplos valores:

In [ ]:
tupla = (1, 2, 3, 4, 5, 6, 7)
primeiro, *meio, final = tupla
print(primeiro)
print(meio)
print(final)

1
[2, 3, 4, 5, 6]
7

Note que o tipo das vari√°veis obtidas por esse modo v√£o variar de acordo com o que est√° contido nessas vari√°veis:

In [ ]:
print(type(primeiro))
print(type(meio))
print(type(final))

<class 'int'>
<class 'list'>
<class 'int'>

In [ ]:
tupla2 = ("Gabriel", 25, 1.85, tupla)
nome, idade, altura, resto = tupla2
for entry in tupla2:
  print(type(entry))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>